<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-4 text-center">
            <p class="display-4">매장 관리</p>
            <h3>
                <small class="text-muted">매장을 관리합니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 py-2">
            <ul th:replace="fragments/managerNav :: ulNav"></ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <form name="updateRequestForm" class="col-xl-6 col-lg-8 py-2 needs-validation" method="post" th:action="@{/manage/{shopId}/update(shopId=${shop.id})}" th:object="${shop}" novalidate>
            <div class="mb-3 row">
                <label for="name" class="col-sm-3 col-form-label">매장명</label>
                <div class="col-sm-9">
                    <input th:field="*{name}" type="text" readonly class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="phone" class="col-sm-3 col-form-label">매장 연락처</label>
                <div class="col-sm-9">
                    <input th:field="*{phone}" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        매장 연락처는 필수입니다.
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="info" class="col-sm-3 col-form-label">매장 설명</label>
                <div class="col-sm-9">
                    <input th:field="*{info}" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        매장 설명은 필수입니다.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary d-block mx-auto">매장정보 수정</button>
        </form>
    </div>
</div> <!-- /container -->
<script th:inline="javascript">
    window.onload = () => {
        document.querySelector("#a-home").classList.add("active");
    }

    (function () {
        let form = document.updateRequestForm;

        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated');
        }, false)
    })();
</script>
</body>
</html>