<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-4 text-center">
            <p class="display-4">매장 관리</p>
            <h3>
                <small class="text-muted">매장을 관리합니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 py-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/manage/{shopId}(shopId=${shop.id})}">매장 홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">직원</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">근무시간</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/manage/{shopId}/joinRequest(shopId=${shop.id})}">가입 신청</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 py-2">
            <table class="table table-striped table-hover table-bordered text-center">
                <thead>
                <tr>
                    <th>#</th>
                    <th>신청자 이름</th>
                    <th>신청 날짜</th>
                    <th>승인</th>
                    <th>미승인</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="joinRequest : ${joinRequests}">
                    <td th:text="${joinRequestStat.count}"></td>
                    <td th:text="${joinRequest.memberName}"></td>
                    <td th:text="${#temporals.format(joinRequest.createDate, 'yyyy년MM월dd일 HH시mm분')}"></td>
                    <td th:id="|approval${joinRequest.joinRequestId}|"><button type="button" class="btn btn-primary" th:onclick="|joinApproval(${joinRequest.joinRequestId})|">승인</button></td>
                    <td th:id="|refusal${joinRequest.joinRequestId}|"><button type="button" class="btn btn-primary" th:onclick="|joinRefusal(${joinRequest.joinRequestId})|">미승인</button></td>
                </tr>
                <tr th:if="${#lists.size(joinRequests) == 0}">
                    <td colspan="5">가입신청이 존재하지 않습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->
<script th:inline="javascript">

    async function joinApproval(joinRequestId) {

        const url = "/manage/"+[[${shop.id}]]+"/joinRequest/approval";
        const option = {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                "joinRequestId": joinRequestId
            })
        }

        await fetch(url, option)
            .then((result) => {
                return result.json();
            }).then((result) => {
                if (result === true) {
                    let td_approval = document.querySelector("#approval" + joinRequestId);
                    let td_refusal = document.querySelector("#refusal" + joinRequestId);
                    td_approval.innerHTML = '처리완료';
                    td_refusal.innerHTML = '처리완료';
                } else {
                    alert("오류가 발생했습니다.\n잠시 후 다시 시도해주세요.");
                }
            });
    }

    async function joinRefusal(joinRequestId) {

        const url = "/manage/"+[[${shop.id}]]+"/joinRequest/refusal";
        const option = {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                "joinRequestId": joinRequestId
            })
        }

        await fetch(url, option)
            .then((result) => {
                return result.json();
            }).then((result) => {
                if (result === true) {
                    let td_approval = document.querySelector("#approval" + joinRequestId);
                    let td_refusal = document.querySelector("#refusal" + joinRequestId);
                    td_approval.innerHTML = '처리완료';
                    td_refusal.innerHTML = '처리완료';
                } else {
                    alert("오류가 발생했습니다.\n잠시 후 다시 시도해주세요.");
                }
            });

    }


</script>
</body>
</html>