<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-4 text-center">
            <p class="display-4">매장 관리</p>
            <h3>
                <small class="text-muted">매장을 관리합니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 py-2">
            <ul th:replace="fragments/managerNav :: ulNav"></ul>

            <div class="mb-3">
                <a class="btn btn-outline-primary" th:href="@{/manage/{shopId}/staff(shopId=${shop.id})}">목록으로</a>
            </div>

            <div class="mb-3 row">
                <label for="name" class="col-sm-3 col-form-label">직원명</label>
                <div class="col-sm-9">
                    <input th:field="${staff.staffName}" type="text" readonly class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-9">
                    <input th:field="${staff.email}" type="text" readonly class="form-control">
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-lg btn-outline-primary" onclick="addManager()">관리자에 추가</button>
                <button class="btn btn-lg btn-outline-primary" th:onclick="|location.href='@{/manage/{shopId}/staff/{staffId}/update(shopId=${shop.id}, staffId=${staff.staffId})}'|">직원정보 수정</button>
                <button class="btn btn-lg btn-outline-primary" onclick="deleteStaff()">삭제</button>
            </div>

        </div>
    </div>
</div> <!-- /container -->
<script th:inline="javascript">
    window.onload = () => {
        document.querySelector("#a-staff").classList.add("active");
    }

    async function deleteStaff() {
        let staffId = [[${staff.staffId}]];
        if (!confirm("직원을 삭제하면 해당 직원의 모든 정보를 조회할 수 없습니다.\n삭제하시겠습니까?")) {
            return false;
        }

        const url = "/manage/" + [[${shop.id}]] + "/staff/" + staffId + "/delete";
        const option = {
            method: "post"
        }

        await fetch(url, option)
            .then((result) => {
                return result.json();
            }).then((result) => {
                if (result === true) {
                    alert("직원 삭제가 완료되었습니다.");
                    location.href = "/manage/" + [[${shop.id}]] + "/staff";
                } else {
                    alert("잠시 후 다시 시도해주세요.");
                }
            });
    }

    async function addManager() {
        let staffId = [[${staff.staffId}]];
        if (!confirm("관리자는 매장의 직원정보를 모두 확인할 수 있습니다.\n추가하시겠습니까?")) {
            return false;
        }
        const url = "/manage/" + [[${shop.id}]] + "/staff/" + staffId + "/addManager";
        const option = {
            method: "post"
        }

        await fetch(url, option)
            .then((result) => {
                return result.json();
            }).then((result) => {
                alert("관리자 등록이 완료되었습니다.");
                let managerId = result.managerId;
                location.href = "/manage/" + [[${shop.id}]] + "/manager/" + managerId;
            });
    }
</script>
</body>
</html>