<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-4 text-center">
            <p class="display-4">직원 근무시간</p>
            <h3>
                <small class="text-muted">직원 근무시간을 관리합니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 py-2">
            <ul th:replace="fragments/managerNav :: ulNav"></ul>

        </div>
    </div>
</div> <!-- /container -->
<script th:inline="javascript">
    window.onload = () => {
        document.querySelector("#a-workTime").classList.add("active");
    }
</script>
</body>
</html>