<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 py-4 text-center">
            <p class="display-4">매장 등록</p>
            <h3>
                <small class="text-muted">매장 정보를 입력하여 매장을 등록합니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 py-2">
            <form>
                <div class="form-floating mb-3">
                    <input id="name" type="text" class="form-control" placeholder=" "/>
                    <label for="name">매장 이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="phone" type="text" class="form-control" placeholder=" "/>
                    <label for="phone">매장 연락처</label>
                </div>
                <div class="d-grid">
                    <button type="button" class="btn btn-primary btn-lg">등록</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>