<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand h1" href="/">CELLOCT</a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">홈</a>
                </li>
                <!-- login -->
                <li th:if="${session.member != null}" class="nav-item">
                    <a class="nav-link" href="#">[[${session.member.name}]] 님</a>
                </li>
                <li th:if="${session.member != null}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">로그아웃</a>
                </li>

                <!-- not login -->
                <li th:if="${session.member == null}" class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="col-12">
                        <p class="h6">google 으로 로그인</p>
                    </div>
                    <div class="col-6">
                        <a th:href="@{/oauth2/authorization/google}">
                            <img class="img-login" th:src="@{/images/googleLogin.png}" alt="googleLogin">
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>