<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="container">
    <div class="row">
        <div class="col-12 py-4 text-center">
            <p class="display-3">안녕하세요.</p>
            <h3>
                <small class="text-muted">매장을 쉽게 관리할 수 있는 </small>
                CELLOCT
                <small class="text-muted">입니다.</small>
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">내 가입 매장</h5>
                    <p class="card-text">내가 가입한 매장을 확인합니다.</p>
                    <select id="select_staffShop" name="select_staffShop" class="form-select mb-2" aria-label="my manage shop">
                        <option th:if="${staffShops != null}" th:each="shop : ${staffShops}" th:text="${shop.name}" th:value="${shop.id}"></option>
                        <option th:if="${staffShops != null && #lists.size(staffShops) == 0}" value="-1">가입한 매장이 없습니다.</option>
                        <option th:if="${staffShops == null}" value="-1">로그인이 필요합니다.</option>
                    </select>
                    <button id="button_staffShop" class="btn btn-primary w-100" onclick="goStaffShop()">매장 보기</button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 py-2">
            <div class="card"><!-- th:onclick="|location.href='@{/manager}'|"-->
                <div class="card-body">
                    <h5 class="card-title">매장 관리</h5>
                    <p class="card-text">내가 관리하는 매장을 확인합니다.</p>
                    <select id="select_manageShop" name="select_manageShop" class="form-select mb-2" aria-label="my manage shop">
                        <option th:if="${manageShops != null}" th:each="shop : ${manageShops}" th:text="${shop.name}" th:value="${shop.id}"></option>
                        <option th:if="${manageShops != null && #lists.size(manageShops) == 0}" value="-1">생성한 매장이 없습니다.</option>
                        <option th:if="${manageShops == null}" value="-1">로그인이 필요합니다.</option>
                    </select>
                    <button id="button_manageShop" class="btn btn-primary w-100" onclick="goManageShop();">매장 관리</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">매장 가입</h5>
                    <p class="card-text">Celloct를 이용하기 위해 매장에 가입하세요.</p>
                    <a th:href="@{/shop/join}" class="btn btn-primary w-100">가입하러 가기</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">매장 생성</h5>
                    <p class="card-text">직원을 관리하기 위해 매장을 만듭니다.</p>
                    <a th:href="@{/shop/create}" class="btn btn-primary w-100">매장 생성하기</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<script th:inline="javascript">
    window.onload = () => {
        if ([[${manageShops == null}]]) {
            document.querySelector("#button_manageShop").setAttribute("disabled", true);
            document.querySelector("#select_manageShop").setAttribute("disabled", true);
        }
        if ([[${staffShops == null}]]) {
            document.querySelector("#button_staffShop").setAttribute("disabled", true);
            document.querySelector("#select_staffShop").setAttribute("disabled", true);
        }

    };
    function goManageShop() {
        let manageShopValue = document.querySelector("#select_manageShop").value;
        if (manageShopValue < 1) {
            alert("매장을 확인해주세요.");
            return false;
        }
        location.href = "/manage/" + manageShopValue;
    }

    function goStaffShop() {
        let staffShopValue = document.querySelector("#select_staffShop").value;
        if (staffShopValue < 1) {
            alert("매장을 확인해주세요.");
            return false;
        }
        location.href = "/staff/" + staffShopValue;
    }
</script>
</body>
</html>